.formaddprod{
    transform: translateX(0);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 300;
    .form{
        flex: 1.9;
        position: relative;
        background-color: $color-white-principal;
        width: 60%;
        height: 70%;
        left: 50%;
        top: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .closes{
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: $color-gris-secondaire;
            padding: 3px 5px;
            border: 2px solid rgb(187, 185, 185);
            border-radius: 3px;
            cursor: pointer;
            .icone{
                font-size: 20px;
            }
        }
        .formcontain{
            height: 90%;
            width: 60%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .explain{
                .barre{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    .one{
                        background:$color-gris-secondaire ;
                        width: 40%;
                        height: 2px;
                        
                    }
                    .middle{
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: $color-gris-secondaire ;
                    }
                }
            }
            form{
                margin-top: 20px;
                .inputcontenaire{
                    margin-bottom: 10px;
                    label{
                        font-size: 15px;
                        display: block;
                        margin-bottom: 15px ;
                    }
                    .inputgroupe{
                        display: flex;
                        align-items: center;
                        input{
                            flex-basis: 100%;
                            padding: 10px;
                            border: 2px solid $color-gris-secondaire;
                            border-radius: 5px;
                            &:focus{
                                outline: none;
                                border-color: none;
                                box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                                
                            }
                        }
                        span{
                            background:$color-red-secondaire;
                            color: white;
                            padding: 9px;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                            transform: translateX(-3px);
                        }
                    }
                }
                button{
                    margin-top: 10px;
                    width: 100%;
                    outline: none;
                    border: none;
                    background: $color-red-secondaire;
                    padding: 10px 0 10px 0;
                    text-align: center;
                    border-radius: 5px;
                    color: white;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        filter: opacity(80%);
                    }
                }
            }
        }
    }
}

.unselect{
    transform: translateX(1000%);
}
@media screen and ( max-width : 900px) {
    .formaddprod{
        .form{
            width: 90%;
            height: 70%;
            .formcontain{
                height: 80%;
                width: 90%;
            }
        }
    }
}